.form__row {
    display: flex;
    flex: 1;
    margin-bottom: 15px;
}

.row {
    display: flex;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 4px;
    background: #FFF;
    padding: 20px 30px;
    color: #1A1B1E;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 26px;
}

.form__input:focus {
    border-color:  #F5170E;
}

.form__input::placeholder {
    color: #666;
}

.form__input--textarea {
    height: 235px;
    width: 1140px;
}

